# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# OS / editor
.DS_Store
*.swp
.idea/
.vscode/

# Data / outputs
data/
*.csv
*.json
!configs/*.json       # if you really want to keep specific config jsons
__MACOSX/

# Jupyter cache
.ipynb_checkpoints/
__pycache__/
.venv/
.env
data/
.DS_Store
logs/
dashboard/node_modules/
dashboard/.next/
